<title>Edit Product Page</title>
<!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2>Edit Product</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">Edit Product</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- log in section start -->
    <section class="log-in-section section-b-space">
        <div class="container-fluid-lg w-100">
            <div class="row">
                <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                    <div class="image-contain">
                        <img src="assets/images/inner-page/sign-up.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h3>Welcome To Grocery Store</h3>
                            <h4>Edit Product</h4>
                        </div>

                        <div class="input-box">
                            <form class="row g-4" [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
                                        <label for="name">Name*</label>
                                        <mat-error *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')">Name is required</mat-error>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input type="text" class="form-control" id="brand" placeholder=" Brand Name" formControlName="brand">
                                        <label for="brand">Brand Name*</label>
                                        <mat-error *ngIf="form.get('brand')?.touched && form.get('brand')?.hasError('required')">Brand Name is required</mat-error>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input type="text" class="form-control" id="category" placeholder=" Category" formControlName="category">
                                        <label for="category">Category*</label>
                                        <mat-error *ngIf="form.get('category')?.touched && form.get('category')?.hasError('required')">Category is required</mat-error>
                                    </div>
                                </div>
                                <div class="col-12">
                                  <div class="form-floating theme-form-floating">
                                      <input type="text" class="form-control" id="description" placeholder=" Description" formControlName="description">
                                      <label for="description">Description*</label>
                                      <mat-error *ngIf="form.get('category')?.touched && form.get('description')?.hasError('description')">Description is required</mat-error>
                                  </div>
                              </div>
                              <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <input type="text" class="form-control" id="price" placeholder=" Price Per Unit" formControlName="price">
                                    <label for="price">Price*</label>
                                    <mat-error *ngIf="form.get('price')?.touched && form.get('price')?.hasError('price')">Price is required</mat-error>
                                </div>
                            </div>
                            <div class="col-12">
                              <div class="form-floating theme-form-floating">
                                  <input type="text" class="form-control" id="unit" placeholder=" unit" formControlName="unit">
                                  <label for="unit">Unit*</label>
                                  <mat-error *ngIf="form.get('unit')?.touched && form.get('unit')?.hasError('unit')">Unit is required</mat-error>
                              </div>
                          </div>
                          <div class="col-12">
                            <div class="form-floating theme-form-floating">
                                <input type="text" class="form-control" id="packSize" placeholder=" Packsize or Quantity" formControlName="packSize">
                                <label for="packSize">Packsize or Quantity*</label>
                                <mat-error *ngIf="form.get('packSize')?.touched && form.get('packSize')?.hasError('packSize')">Packsize or Quantity is required</mat-error>
                            </div>
                        </div> 
                        <div class="col-12">
                          <div class="form-floating theme-form-floating">
                              <input type="text" class="form-control" id="stockQty" placeholder=" Stock Quantity" formControlName="stockQty">
                              <label for="stockQty">Stock Quantity*</label>
                              <mat-error *ngIf="form.get('stockQty')?.touched && form.get('stockQty')?.hasError('stockQty')">Stock Quantity is required</mat-error>
                          </div>
                      </div> 
                                   
                   
                          <div class="col-12">
                            <button class="btn btn-animation w-100" type="submit">Edit Product</button>
                        </div>       
                       
                        </form>  
                        </div>
                    </div>

                </div>
        </div>
        </div>
    </section>
    <!-- log in section end -->

    <!-- Tap to top start -->
    <div class="theme-option">
        <div class="setting-box">
            <button class="btn setting-button">
                <i class="fa-solid fa-gear"></i>
            </button>

            <div class="theme-setting-2">
                <div class="theme-box">
                    <ul>
                        <li>
                            <div class="setting-name">
                                <h4>Color</h4>
                            </div>
                            <div class="theme-setting-button color-picker">
                                <form class="form-control">
                                    <label for="colorPick" class="form-label mb-0">Theme Color</label>
                                    <input type="color" class="form-control form-control-color" id="colorPick"
                                        value="#0da487" title="Choose your color">
                                </form>
                            </div>
                        </li>

                        <li>
                            <div class="setting-name">
                                <h4>Dark</h4>
                            </div>
                            <div class="theme-setting-button">
                                <button class="btn btn-2 outline" id="darkButton">Dark</button>
                                <button class="btn btn-2 unline" id="lightButton">Light</button>
                            </div>
                        </li>

                        <li>
                            <div class="setting-name">
                                <h4>RTL</h4>
                            </div>
                            <div class="theme-setting-button rtl">
                                <button class="btn btn-2 rtl-unline">LTR</button>
                                <button class="btn btn-2 rtl-outline">RTL</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top end -->
