<!-- Header Start -->
<header class="pb-md-4 pb-0">
    <div class="header-top">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-3 d-xxl-block d-none">
                    <div class="top-left-header">
                        <i class="iconly-Location icli text-white"></i>
                        <span class="text-white">Srinagar,Jammu And Kashmir</span>
                    </div>
                </div>

                <div class="col-xxl-6 col-lg-9 d-lg-block d-none">
                    <div class="header-offer">
                        <div class="notification-slider">
                            <div>
                                <div class="timer-notification">
                                    <h6><strong class="me-1">Welcome to Grocery store!</strong>Wrap new offers/gift
                                        every signle day on Weekends.<strong class="ms-1">New Coupon Code: Fast024
                                        </strong>

                                    </h6>
                                </div>
                            </div>

                            <div>
                                <div class="timer-notification">
                                    <h6>Something you love is now on sale!
                                        <a href="shop-left-sidebar.html" class="text-white">Buy Now
                                            !</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <ul class="about-list right-nav-about">
                        <li class="right-nav-list">
                            <div class="dropdown theme-form-select">
                                <button class="btn dropdown-toggle" type="button" id="select-language"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="assets/images/country/united-states.png"
                                        class="img-fluid blur-up lazyload" alt="">
                                    <span>English</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="select-language">
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)" id="english">
                                            <img src="assets/images/country/united-kingdom.png"
                                                class="img-fluid blur-up lazyload" alt="">
                                            <span>English</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)" id="france">
                                            <img src="assets/images/country/germany.png"
                                                class="img-fluid blur-up lazyload" alt="">
                                            <span>Germany</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)" id="chinese">
                                            <img src="assets/images/country/turkish.png"
                                                class="img-fluid blur-up lazyload" alt="">
                                            <span>Turki</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="right-nav-list">
                            <div class="dropdown theme-form-select">
                                <button class="btn dropdown-toggle" type="button" id="select-dollar"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>INR</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end sm-dropdown-menu"
                                    aria-labelledby="select-dollar">
                                    <li>
                                        <a class="dropdown-item" id="aud" href="javascript:void(0)">AUD</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" id="eur" href="javascript:void(0)">EUR</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" id="cny" href="javascript:void(0)">CNY</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="top-nav top-header sticky-header">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="navbar-top">
                        <button class="navbar-toggler d-xl-none d-inline navbar-menu-button" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
                            <span class="navbar-toggler-icon">
                                <i class="fa-solid fa-bars"></i>
                            </span>
                        </button>
                        <a href="index.html" class="web-logo nav-logo">
                            <img src="assets/images/logo/1.png" class="img-fluid blur-up lazyload" alt="">
                        </a>

                        <div class="middle-box">
                            <div class="search-box" style="margin-left: 280px;">
                                <div class="input-group">
                                    <input type="search" class="form-control" placeholder="I'm searching for..."
                                           aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="searchValue">
                                    <button class="btn" type="button" id="button-addon2" (click)="onSearchClick()" routerLink="/search">
                                      <i data-feather="search"></i>
                                    </button>
                                  </div>
                                  
                            </div>
                        </div>

                        <div class="rightside-box">
                            <div class="search-full">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i data-feather="search" class="font-light"></i>
                                    </span>
                                    <input type="text" class="form-control search-type" placeholder="Search here..">
                                    <span class="input-group-text close-search">
                                        <i data-feather="x" class="font-light"></i>
                                    </span>
                                </div>
                            </div>
                            <ul class="right-side-menu">
                                <li class="right-side">
                                    <div class="delivery-login-box">
                                        <div class="delivery-icon">
                                            <div class="search-box">
                                                <i data-feather="search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="right-side">
                                    <a routerLink="/contact" class="delivery-login-box">
                                        <div class="delivery-icon" style="cursor: pointer;">
                                            <i data-feather="phone-call"></i>
                                        </div>
                                        <div class="delivery-detail">
                                            <h6>24/7 Delivery</h6>
                                            <h5>+91 7006606066</h5>
                                        </div>
                                    </a>
                                </li>
                                <li class="right-side">
                                    <a routerLink="/wishlist" class="btn p-0 position-relative header-wishlist">
                                        <i data-feather="heart"></i>
                                    </a>

                                </li>
                                <li class="right-side">
                                    <div class="onhover-dropdown header-badge">
                                        <button type="button" class="btn p-0 position-relative header-wishlist">
                                            <i data-feather="shopping-cart"></i>
                                        </button>

                                        <div class="onhover-div">
                                            <div class="button-group">
                                                <a routerLink="/cartitemslist" class="btn btn-sm cart-button">
                                                    View Cart
                                                </a>
                                                <a routerLink="/checkout" class="btn btn-sm cart-button theme-bg-color
                                                text-white">
                                                    Checkout
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="right-side onhover-dropdown" >
                                    <div class="delivery-login-box" [style]="{'cursor':'pointer'}">
                                        <div class="delivery-icon">
                                            <i data-feather="user"></i>
                                        </div>
                                    </div>

                                    <div class="onhover-div onhover-div-login" >
                                        <ul class="user-box-name" >
                                            <li class="product-box-contain">
                                                <i></i>
                                                <a routerLink="login">Log In</a>
                                            </li>

                                            <li class="product-box-contain">
                                                <a routerLink="signup">Register</a>
                                            </li>

                                            <li class="product-box-contain">
                                                <a routerLink="forget">Forgot Password</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="delivery-detail">
                                        <h6>Hello,</h6>
                                        <h5 style="cursor:pointer" routerLink="/userDashboard">My Account</h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="header-nav">
                    <div class="header-nav-left">
                        <button class="dropdown-category">
                            <i data-feather="align-left"></i>
                            <span>All Categories</span>
                        </button>

                        <div class="category-dropdown">
                            <div class="category-title">
                                <h5>Categories</h5>
                                <button type="button" class="btn p-0 close-button text-content">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>

                            <ul class="category-list">
                                <li class="onhover-category-list" >
                                    <a routerLink="/category" class="category-name" >
                                        <img src="assets/svg/vegetable.svg" alt="" >
                                        <h6 (click)="Category('Vegetable')">Vegetables</h6>     
                                    </a>
                                    <li class="onhover-category-list" >
                                        <a routerLink="/category" class="category-name" >
                                            <img src="assets/svg/vegetable.svg" alt="" >
                                            <h6 (click)="Category('Fruits')">Fruits</h6>
                                        </a>

                                <li class="onhover-category-list">
                                    <a routerLink="/category" class="category-name">
                                        <img src="assets/svg/cup.svg" alt="">
                                        <h6 (click)="Category('Drink')">Beverages And Drink</h6>
                                    </a>

                                <li class="onhover-category-list">
                                    <a routerLink="/category" class="category-name">
                                        <img src="assets/svg/meats.svg" alt="">
                                        <h6 (click)="Category('Meat')">Meats &amp; Seafood</h6>
                                    </a>

                                <li class="onhover-category-list">
                                    <a routerLink="/category" class="category-name">
                                        <img src="assets/svg/frozen.svg" alt="">
                                        <h6 (click)="Category('Spices')">Spices</h6>
                                    </a>


                                <li class="onhover-category-list">
                                    <a routerLink="/category" class="category-name">
                                        <img src="assets/svg/biscuit.svg" alt="">
                                        <h6 (click)="Category('Bread')">Biscuits &amp; Snacks</h6>
                                    </a>

                                <li class="onhover-category-list">
                                    <a routerLink="/category" class="category-name">
                                        <img src="assets/svg/grocery.svg" alt="">
                                        <h6 (click)="Category('Grocery')">Grocery &amp; Staples</h6>
                                        
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="header-nav-middle">
                        <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
                            <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                                <div class="offcanvas-header navbar-shadow">
                                    <h5>Menu</h5>
                                    <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <ul  >
                                        <li class="nav-item">
                                            <a class="nav-link" style="font-size: 24px; font-family: Arial, sans-serif; color: black; text-decoration: none;" 
                                                routerLink="/" 
                                                onmouseover="this.style.color='#32a8a8'; this.style.textDecoration='underline';"
                                                onmouseout="this.style.color='black'; this.style.textDecoration='none';">
                                                Home
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="font-size: 24px; font-family: Arial, sans-serif; color: black; text-decoration: none;" 
                                                routerLink="/product-list" 
                                                onmouseover="this.style.color='#32a8a8'; this.style.textDecoration='underline';"
                                                onmouseout="this.style.color='black'; this.style.textDecoration='none';">
                                                Products
                                            </a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a class="nav-link" style="font-size: 24px; font-family: Arial, sans-serif; color: black; text-decoration: none;" 
                                                routerLink="/wishlist" 
                                                onmouseover="this.style.color='#32a8a8'; this.style.textDecoration='underline';"
                                                onmouseout="this.style.color='black'; this.style.textDecoration='none';">
                                                WishList
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="font-size: 24px; font-family: Arial, sans-serif; color: black; text-decoration: none;" 
                                                routerLink="/cartitemslist"
                                                onmouseover="this.style.color='#32a8a8'; this.style.textDecoration='underline';"
                                                onmouseout="this.style.color='black'; this.style.textDecoration='none';">
                                                Cart
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="font-size: 24px; font-family: Arial, sans-serif; color: black; text-decoration: none;" 
                                                routerLink="/about" 
                                                onmouseover="this.style.color='#32a8a8'; this.style.textDecoration='underline';"
                                                onmouseout="this.style.color='black'; this.style.textDecoration='none';">
                                                About Us
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="font-size: 24px; font-family: Arial, sans-serif; color: black; text-decoration: none;" 
                                                routerLink="/contact" 
                                                onmouseover="this.style.color='#32a8a8'; this.style.textDecoration='underline';"
                                                onmouseout="this.style.color='black'; this.style.textDecoration='none';">
                                               Contact Us
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="font-size: 24px; font-family: Arial, sans-serif; color: black; text-decoration: none;" 
                                                routerLink="/vendor" 
                                                onmouseover="this.style.color='#32a8a8'; this.style.textDecoration='underline';"
                                                onmouseout="this.style.color='black'; this.style.textDecoration='none';">
                                                Seller
                                            </a>
                                        </li>
                                    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->