<!-- Footer Section Start -->
<footer class="section-t-space">
  <div class="container-fluid-lg">
    <div class="row g-3">
      <div class="col-12">
        <div class="service-contain">
          <div class="service-box">
            <div class="service-image">
              <img src="assets/svg/product.svg" class="blur-up lazyloaded" alt="">
            </div>

            <div class="service-detail">
              <h5>Every Fresh Products</h5>
            </div>
          </div>

          <div class="service-box">
            <div class="service-image">
              <img src="assets/svg/delivery.svg" class="blur-up lazyloaded" alt="">
            </div>

            <div class="service-detail">
              <h5>Free Delivery For Order Over 10 Km</h5>
            </div>
          </div>

          <div class="service-box">
            <div class="service-image">
              <img src="assets/svg/discount.svg" class="blur-up lazyloaded" alt="">
            </div>

            <div class="service-detail">
              <h5>Daily Mega Discounts</h5>
            </div>
          </div>

          <div class="service-box">
            <div class="service-image">
              <img src="assets/svg/market.svg" class="blur-up lazyloaded" alt="">
            </div>

            <div class="service-detail">
              <h5>Best Price On The Market</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-footer section-b-space section-t-space">
      <div class="row g-md-4 g-3">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="footer-logo">
            <div class="theme-logo">
              <a href="index.html">
                <img src="assets/images/logo/1.png" class="blur-up lazyload" alt="">
              </a>
            </div>

            <div class="footer-logo-contain">
              <p>Shop fresh, shop smart - your one-stop online grocery store for all your kitchen needs.
              </p>

              <ul class="address">
                <li>
                  <i data-feather="home"></i>
                  <a href="javascript:void(0)">Sringar,Jammu And Kashmir</a>
                </li>
                <li>
                  <i data-feather="mail"></i>
                  <a href="javascript:void(0)">support@GroceryStore.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="footer-title">
            <h4>Categories</h4>
          </div>

          <div class="footer-contain">
            <ul>
              <li style="cursor:pointer">
                <a  routerLink="/category" (click)="Category('Vegetables ')" class="text-content">Vegetables </a>
              </li>
              <li style="cursor:pointer">
                <a  routerLink="/category" (click)="Category('Fruit')" class="text-content">Fruit</a>
              </li>
              <li style="cursor:pointer">
                <a  routerLink="/category" (click)="Category('Meats')" class="text-content">Meats </a>
              </li>
              <li style="cursor:pointer">
                <a  routerLink="/category" (click)="Category('Seafood')" class="text-content">Seafood</a>
              </li>
              <li style="cursor:pointer">
                <a  routerLink="/category" (click)="Category('Snacks')" class="text-content">Snacks</a>
              </li>
              <li style="cursor:pointer">
                <a  routerLink="/category" (click)="Category('Biscuits')" class="text-content">Biscuits</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xl col-lg-2 col-sm-3">
          <div class="footer-title">
            <h4>Useful Links</h4>
          </div>

          <div class="footer-contain">
            <ul>
              <li>
                <a href="index.html" class="text-content">Home</a>
              </li>
              <li>
                <a routerLink="/product-list" class="text-content">Shop</a>
              </li>
              <li>
                <a routerLink="/about" class="text-content">About Us</a>
              </li>
              <li>
                <a routerLink="/cart" class="text-content">Cart</a>
              </li>
              <li>
                <a routerLink="/contact" class="text-content">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xl-2 col-sm-3">
          <div class="footer-title">
            <h4>Help Center</h4>
          </div>

          <div class="footer-contain">
            <ul>
              <li>
                <a href="order-success.html" class="text-content">Your Order</a>
              </li>
              <li>
                <a href="user-dashboard.html" class="text-content">Your Account</a>
              </li>
              <li>
                <a href="order-tracking.html" class="text-content">Track Order</a>
              </li>
              <li>
                <a routerLink="/wishlist" class="text-content">Your Wishlist</a>
              </li>
              <li>
                <a href="search.html" class="text-content">Search</a>
              </li>
              <li>
                <a href="faq.html" class="text-content">FAQ</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="footer-title">
            <h4>Contact Us</h4>
          </div>

          <div class="footer-contact">
            <ul>
              <li>
                <div class="footer-number">
                  <i data-feather="phone"></i>
                  <div class="contact-number">
                    <h6 class="text-content">Hotline 24/7 :</h6>
                    <h5>+91 7006606066</h5>
                  </div>
                </div>
              </li>

              <li>
                <div class="footer-number">
                  <i data-feather="mail"></i>
                  <div class="contact-number">
                    <h6 class="text-content">Email Address :</h6>
                    <h5>GroceryStore@hotmail.com</h5>
                  </div>
                </div>
              </li>

              <li class="social-app mb-0">
                <h5 class="mb-2 text-content">Download App :</h5>

                <ul class="list-unstyled d-flex align-items-start">
                  <li class="mb-0">
                    <a href="https://play.google.com/store/apps" target="_blank">
                      <img src="assets/images/playstore/playstore.svg" class="blur-up lazyloaded" alt="">
                    </a>
                  </li>
                  <li class="mb-0">
                    <a href="https://www.apple.com/in/app-store/" target="_blank">
                      <img src="assets/images/playstore/appstore.svg" class="blur-up lazyloaded" alt="">
                    </a>
                  </li>
                </ul>


              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="sub-footer section-small-space">
      <div class="reserve">
        <h6 class="text-content">©2022 Grocery Store All rights reserved</h6>
      </div>

      <div class="payment">
        <img src="assets/images/payment/1.png" class="blur-up lazyload" alt="">
      </div>

      <div class="social-link">
        <h6 class="text-content">Stay connected :</h6>
        <ul>
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://in.pinterest.com/" target="_blank">
              <i class="fa-brands fa-pinterest-p"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->