.wishlist-item-container {
  width: 350px;
  height:250px;
  border: 1px solid #090909;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.wishlist-item-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

/* .wishlist-item-details {
  padding: 10px;
} */

.name {
  font-size: 16px;
  font-weight: bold;
}

.quantity,
.description {
  font-size: 14px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.qty-left-minus,
.qty-right-plus {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.qty-input {
  width: 50px;
  text-align: center;
}

.btn-add-cart {
  width: 100px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.wishlist-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
