<title>Cart Items</title>
<section class="breadscrumb-section pt-0">
  <div class="container-fluid-lg">
    <div class="item">
      <div class="col-12">
        <div class="breadscrumb-contain">
          <h2>Cart</h2>
          <nav>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="index.html">
                  <i class="fa-solid fa-house"></i>
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Cart</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- items -->
<section class="cart-section section-b-space">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 col-xxl-9">
        <div class="cart-table">
          <div class="table-responsive-xl">
            <table class="table">
              <tbody>
                <tr class="product-box-contain " *ngFor="let item of products">
                  <td class="product-detail">
                    <div class="product border-0">
                      <a href="product-left-thumbnail.html" class="product-image">
                        <img src="http://localhost:5148/api/Product/images/{{item.id}}"
                          class="img-fluid blur-up lazyloaded" alt="">
                      </a>
                      <div class="product-detail">
                        <ul>
                          <li class="name">
                            <h2 class="text-content d-inline-block">Name : {{item.name}}</h2>
                          </li>
                          <li>
                            <h3 class="text-content d-inline-block">Brand : {{item.brand}}</h3>
                          </li>
                          <li>
                            <h5 class="text-content d-inline-block" style="height:40px">Description : {{item.description}}</h5>
                          </li>
                          <li class="quantity-price-box">
                            <div class="cart_qty">
                              <div class="input-group">
                                <button type="button" class="btn qty-left-minus" data-type="minus" data-field="">
                                  <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                                </button>
                                <input class="form-control input-number qty-input" type="text" name="quantity"
                                  value="1">
                                <button type="button" class="btn qty-right-plus" data-type="plus" data-field="">
                                  <i class="fa fa-plus ms-0" aria-hidden="true"></i>
                                </button>
                              </div>
                            </div>
                          </li>

                          <li>
                            <h5>Total:  ₹{{item.price *productQuantities[item.id]}}</h5>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>

                  <!-- display part -->

                  <td class="price">
                    <h2 class="table-title text-content">Price :  ₹{{ item.price }}</h2>
                    <h2 class="table-title text-content">Unit : {{ item.unit }}</h2>
                    <h2 class="table-title text-content">Category : {{ item.category }}</h2>
                  <td class="quantity">
                    <h4 class="table-title text-content">Quantity : {{productQuantities[item.id]}}</h4>
                    <div class="quantity-price">
                      <div class="cart_qty">
                        <div class="input-group">
                          <button type="button" class="btn qty-left-minus" (click)="decreaseQuantity(productQuantities[item.id],item)">
                            <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                          </button>
                          <input class="form-control input-number qty-input" type="text" name="quantity"
                            [value]="productQuantities[item.id]" >
                          <button type="button" class="btn qty-right-plus" (click)="increaseQuantity(productQuantities[item.id],item)">
                            <i class="fa fa-plus ms-0" aria-hidden="true"></i> 
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>

                  <td class="subtotal">
                    <h4 class="table-title text-content">Total Amount </h4>
                    
                      <h5> ₹{{item.price *productQuantities[item.id]}}</h5>
                      
                  </td>

                  <td class="save-remove">
                    <h4 class="table-title text-content">Action</h4>
                    <a class="save notifi-wishlist pointer-cursor" (click)="addToWishlist(item)">Add To WishList</a> 
                     <a class=" remove close_button pointer-cursor" (click)="removeFromCart(item.id)">Remove</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-xxl-3">
        <div class="summery-box p-sticky">
          <div class="summery-header">
            <h3>Cart Total</h3>
          </div>

          <div class="summery-contain">
            <div class="coupon-cart">
              <h6 class="text-content mb-2">Coupon Apply</h6>
              <div class="mb-3 coupon-box input-group">
                <input type="email" class="form-control" id="exampleFormControlInput1"
                  placeholder="Enter Coupon Code Here...">
                <button class="btn-apply">Apply</button>
              </div>
            </div>
            <ul>
              <li>
                <h4>Subtotal</h4>
                <h4 class="price"> ₹{{subTotal}}</h4>
              </li>

              <li>
                <h4>Coupon Discount</h4>
                <h4 class="price">(-) 0.00</h4>
              </li>

              <li class="align-items-start">
                <h4>Shipping</h4>
                <h4 class="price text-end"> Free</h4>
              </li>
            </ul>
          </div>

          <ul class="summery-total">
            <li class="list-total border-top-0">
              <h4>Total (INR)</h4>
              <h4 class="price theme-color">{{subTotal}}</h4>
            </li>
          </ul>

          <div class="button-group cart-button">
            <ul>
              <li>
                <button routerLink="/checkout" class="btn btn-animation proceed-btn fw-bold">Process
                  To Checkout</button>
              </li>

              <li>
                <button routerLink="/product-list" class="btn btn-light shopping-button text-dark">
                  <i class="fa-solid fa-aritem-left-long"></i>Return To Shopping</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>